    body{
    background-image: url("/static/images/h.jpg");
    background-repeat: no-repeat;
     background-attachment: fixed;

    background-size:cover;
    background-position:center center;




}

h1{
color:red;
text-align : center;
}

.blue{
    color:blue;
    text-align: center;
}
form{padding: 30px;
    background-color:#45053d;
    
   

}

.jumbotron{
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  
    text-align: center;
    font-weight:800;
    background-color: #45053d!important;
}

.alert {
    background-color: #d1ecf1;
    border-color:#bee5eb;
    width: 550px;
    height:40px;
    text-align: center;
    float:center;
    color:black;
    font-weight: bold;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.alert h2{
    font-size:25px;

}
h2{
    color:black;
        margin-top: 0px!important;
}
body{
    color: #fff!important;
    
}
#cap{
    color:black;
}

.btn-default{
    margin-left: 200px;
    text-align: center;
    color:black !important;
    padding:10px 30px!important;
    border:1px solid black !important;
    font-weight: bold !important;
}
.btn.btn-default:hover{
    background-color: pink;
    color:green !important;
}
.form-control{
    border:1px solid grey !important;
}