<!--load static files Here-->
{% load static %}
{% load bootstrap3 %} <!--load boostrap3 here-->
{% bootstrap_messages %} <!--load bootsrtap3 messages-->
<!DOCTYPE html> 
<html lang="en"> 

<head > 

	<title>LEXI CHATBOT</title> 
	
	<meta charset="utf-8" /> 
	
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"><!--link static files-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
<!--paste jquery and boostrap3 links here-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> 
</script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> 

</script> 
</head> 

<body style="padding-top: 60px;background-color: #f5f7f8 !important;"> 
	
	<div class="container"> 
			
	<div class="row"> 
			
		<div class="col-md-6 col-md-offset-3"> 
				
				<div class="jumbotron	" >
						<h2>LEXI</h2>
						<p><font color="black"><a href="#" data-toggle="popover" title="About lexi" data-content="please provide your details for accurate diagnosis,we assure that your information is safe with us "><p style="color:white!important;font-size:14px;">Disclaimer</font></p></a>
						</font></p>
					</div>
					
					  
		
			<!--  user registration form -->
			<form action="/temp/" method="post"><input type='hidden'/>
			      {%csrf_token %} 

                {% bootstrap_form form %} <!--create bootstrap form  here-->

			<div class="form-group"> 
				<button type="submit" class="btn btn-default ">  <!--form submit button-->
				Submit 
				</button> 
				

				</div> 

				</form> 
		</div> 
	</div> 
</div> 
<script>
	//this script handle for toggle 
$(document).ready(function(){
  $('[data-toggle="popover"]').popover();   
});
</script>
</body> 

</html> 
