{% load static %}
<html>
    <head>
        <link href="{% static 'css/temp.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>

    <body>
            
          <div class="tit">LEXI</div>
        <div class="container" >
       
        <div class="row mb-2 posts">
            <form method="POST" id="post-form" style="position:fixed">
                {% csrf_token %}
                <div class="form-group " style="margin-top:490px;margin-left:5px;width:785px;display:block">
                <label for="exampleInputEmail1"></label>
                <input type="text" class="form-control" id="title" placeholder="Type Here..">
                <span><button type="submit" class="btn btn-primary" style="margin-left:30px;float:right;margin-top:-40px!important;">Submit</button><span>
                </div>
                <!--<div class="form-group">
                        <label for="exampleInputEmail1">Description</label>
                        <textarea class="form-control" id="description" placeholder="Description"></textarea>
                </div>-->
                <!--<button type="submit" class="btn btn-primary">Submit</button>-->
            </form>

        <div class="col-md-12 ">
                        <div class="row no-gutters  rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-scroll style" style="width:250px;height:80px;float:left;padding-left:10px;margin-top:30px;">
                            <div class="col p-1 d-flex flex-column position-relative ">
                                
                
                             <h6 class="mb-1 new">Hi &nbsp{{last_name}},<br>your bmi is{{bmi}},<br>{{a}}</h6>
                   
                  
                             </div>
                        </div>
        </div>
                <div class="col-md-12 ">
                        <div class="row no-gutters  rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-scroll style" style="width:250px;height:80px;float:left;padding-left:10px;margin-top:30px;">
                            <div class="col p-1 d-flex flex-column position-relative ">
                
                                 <h6 class="mb-1 new">{{res1}}</h6>
                   
                  
                </div>         </div>   </div>



                 {% for post in posts %}
                    <div class="col-md-12 ">
                        <div class="row no-gutters  rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-scroll style" style="width:250px;height:35px;float:left;padding-left:10px;margin-top:30px;">
                            <div class="col p-1 d-flex flex-column position-relative">
                                <h6 class="mb-1 new">{{post.title}}</h6>
                                <!--<p class="mb-auto">{{post.description}}</p>-->
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
            </div>
        </div>

    </body>
    <script src="/static/js/jquery-2.2.4.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>	
    <script>
        $(document).on('submit', '#post-form',function(e){
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'{% url "create" %}',
                data:{
                    title:$('#title').val(),
                    //description:$('#description').val(),
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                    action: 'post'
                },
                success:function(json){
                    document.getElementById("post-form").reset();
                    $(".posts").append('<div class="col-md-12 ">'+
                        '<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250  position-scroll" style="width:200px;height:50px;float:right;">' +
                            '<div class="col p1 d-flex flex-column position-relative ">' +
                                '<h6 class="mb-1 new ">' + json.title + '</h6>' +
                                //'<p class="mb-auto">' + json.description + '</p>' +
                            '</div>' +
                        '</div>' +
                    '</div>' 
                    )
                },
                error : function(xhr,errmsg,err) {
                $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                    " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
            });
        });
    </script>
</html>